# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/
ENV/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

# Static files (collected)
staticfiles/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# PythonAnywhere
*.pid
